.page {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "OpenSans", -aaple-system, Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
}

.page strong,
.page b {
  font-weight: 800;
}
