.delivery-seafood {
  font-family: "Roboto", "OpenSans", -aaple-system, Helvetica Neue, Arial, sans-serif;
  padding-top: 45px;
}

.delivery-seafood__primary-text {
  font-weight: 800;
  margin: 0 0 40px 0;
}

.delivery-seafood__phraze {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  font-size: 18px;
}

.delivery-seafood__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.delivery-seafood__product {
  text-align: center;
  margin: 10px;
}

.delivery-seafood__product-title {
  font-size: 16px;
}

.delivery-seafood__product-image {
  display: block;
  margin-bottom: 6px;
}

.delivery-seafood__button {
  text-transform: uppercase;
  border-radius: 3px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 36px;
}
