.list {
  margin: 0;
  padding: 0 0 0 54px;
  box-sizing: border-box;
}

.list__item {
  position: relative;
  list-style: none;
  text-align: justify;
  margin-bottom: 20px;
}

.list__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -54px;
  width: 27px;
  height: 20px;
  background: url("list-item-icon.png") no-repeat;
  transform: translateY(-50%);
}


@media only screen and (max-width: 550px) {
  .list__item::before {
    top: 5px;
    transform: none;
  }
}
